<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01HighResolutionMode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>01compatableMobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC0DF3BF1B5A2C92005ED27B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC0DF3D81B5A2C92005ED27B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC0DF3EE1B5A3384005ED27B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC0DF4061B5A3385005ED27B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
